[Desktop Entry]
Type=Application
Name=Install ProtonUp-Qt
GenericName=Manage Proton and Wine versions
Comment=Install ProtonUp-Qt to add and update Proton-GE and Wine builds for Steam and Lutris
Exec=konsole -e sh -c '/usr/bin/dagric-get-protonup ; echo ; printf "Press Enter to close..." ; read x'
Icon=dagric-logo
Terminal=false
Categories=Game;Settings;
Keywords=protonup;proton;proton-ge;glorious eggroll;wine;steam;lutris;compatibility;games;install;
