[Desktop Entry]
Type=Application
Name=Install Heroic Games Launcher
GenericName=Epic, GOG and Amazon games
Comment=Install Heroic, the open-source launcher for Epic Games, GOG and Amazon Prime games
Exec=konsole -e sh -c '/usr/bin/dagric-get-heroic ; echo ; printf "Press Enter to close..." ; read x'
Icon=dagric-logo
Terminal=false
Categories=Game;
Keywords=heroic;epic;epic games;gog;amazon;prime gaming;games;gaming;launcher;store;install;
