[Desktop Entry]
Type=Application
Name=Install Joplin
GenericName=Private notes and to-do lists
Comment=Install Joplin, an open-source notebook with end-to-end encrypted sync across your devices
Exec=konsole -e sh -c '/usr/bin/dagric-get-joplin ; echo ; printf "Press Enter to close..." ; read x'
Icon=dagric-logo
Terminal=false
Categories=Office;Utility;
Keywords=joplin;notes;notebook;onenote;evernote;todo;to-do;markdown;journal;sticky notes;install;
