[Desktop Entry]
Type=Application
Name=Desktop & taskbar
Comment=Personalize widgets, your taskbar, icons, colors and readable text
Exec=dagric-desktop-settings
Icon=dagric-appearance
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=panel;taskbar;widgets;icons;appearance;text;font;layout;
StartupNotify=true
