[Desktop Entry]
Type=Application
Name=Welcome to Dagric
Comment=First-run introduction to your new operating system
Exec=dagric-welcome
Icon=/usr/share/dagric/logo/dagric-logo.png
X-KDE-StartupNotify=false
