[Desktop Entry]
Type=Application
Name=Dagric desktop shortcuts
Comment=Let shortcuts dragged to the Desktop be opened with one click
Exec=/usr/lib/dagric/desktop-shortcut-trust
Icon=dagric-logo
Terminal=false
NoDisplay=true
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
