[Desktop Entry]
Type=Application
Name=Dagric driver offer
Comment=Offer proprietary graphics drivers on first login
Exec=dagric-driver-offer
Icon=dagric-logo
Terminal=false
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
